@import "../style";

.categoryTreeItems {
  margin: $spacing;

  .categoryItem {
    margin: 4px;

    .item {
      border-radius: $borderRadius;
      padding: $tinySpacing $smallSpacing;
      line-height: $spacing;
      cursor: pointer;
    }

    .selected {
      background-color: $blue;
      color: $white;
    }

    .dropAllowed {
      background-color: $orange;
      color: $lighter;
    }

    .nonScheduledCount {
      margin-left: $smallSpacing;
      font-style: italic;
    }

    .notSelected .nonScheduledCount {
      color: $darker;
    }

    .selected .nonScheduledCount {
      color: $dark;
    }


    &.depth_0 {
      margin-left: 0;
    }

    &.depth_1 {
      margin-left: $tinySpacing;
    }

    &.depth_2 {
      margin-left: calc(2 * $tinySpacing);
    }

    &.depth_3 {
      margin-left: calc(3 * $tinySpacing);
    }

    &.depth_4 {
      margin-left: calc(4 * $tinySpacing);
    }

    &.depth_5 {
      margin-left: calc(5 * $tinySpacing);
    }

    &.depth_6 {
      margin-left: calc(6 * $tinySpacing);
    }

    &.depth_7 {
      margin-left: calc(7 * $tinySpacing);
    }

    i {
      margin: $tinySpacing;
    }

    i.disabled {
      color: $dark;
    }

  }


}

