@import "./style";

.rootContainer {
  background-color: $lighter;

  .root {
    background-color: $white;
    box-shadow: $boxShadow;
    display: grid;
    max-width: $maxWidth;
    margin: auto;
    padding: 0 $spacing 0 $spacing;

    .spinner {
      display: flex;
      justify-content: flex-end;
    }
  }
  @media screen and (max-width: $smallScreens) {
    .root {
      grid-template-rows: 0 $smallHeaderHeight 2rem auto auto;
    }
  }

  @media screen and (min-width: $smallScreens) {
    .root {
      grid-template-rows: 0 $headerHeight 2rem auto auto;
    }
  }

}
