@import "./style";

.rootContainer {
  background-color: $lighter;
  animation: fadein 1s;
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .root {
    background-color: $white;
    box-shadow: $boxShadow;
    display: grid;
    max-width: $maxWidth;
    margin: auto;
    padding: 0 $spacing 0 $spacing;
    grid-template-rows: $headerHeight 2rem auto auto;

    .spinner {
      display: flex;
      justify-content: flex-end;
    }

    .mainView {
      margin-bottom: $hugeSpacing;
    }

    .footer {
      border-top: $border;
      text-align: center;
      .smaller {
        font-size: $smallFont;
      }
    }
  }
}
