$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

$blue: #337ab7;
$orange: #ffa84c;
$darker: #777;
$dark: #aaa;
$light: #ccc;
$lighter: #eee;
$red: #E53C16;
$green: #669E00;
$white: #fff;
$lightBlue: #2AABD2;
$pink: #FF5DB1;

$inputFont: Arial, sans-serif;
$font: Gill Sans, sans-serif;
$smallFont: 0.8rem;
$normalFont: 1rem;
$largeFont: 1.25rem;
$largerFont: 1.5rem;
$hugeFont: 2rem;

$borderRadius: 0.25rem;
$border: 2px solid $light;

$bigBorderRadius: 0.5rem;
$bigBorder: 3px solid $light;

$tinySpacing: 0.25rem;
$smallerSpacing: 0.5rem;
$smallSpacing: 0.75rem;
$spacing: 1rem;
$largeSpacing: 1.25rem;
$largerSpacing: 1.5rem;
$hugeSpacing: 2rem;

$minWidth: 20rem;
$maxWidth: 50rem;

$smallScreens: 32rem;

$headerHeight: 4rem;

$boxShadow: $light 0 $smallerSpacing $largeSpacing;

body {
  min-width: $minWidth;

  font-size: $normalFont;
  font-family: $font;

  button {
    font-family: $font;
  }

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: $darker;
    font-weight: normal;
  }

  h1 {
    font-size: $largerFont;
    margin: $smallSpacing 0;
  }

  h2 {
    font-size: $largeFont;
    margin: $smallerSpacing 0;
  }

  h3 {
    font-size: $normalFont;
    margin: $tinySpacing 0;
  }

  a {
    text-decoration: underline;
    color: $blue;
    cursor: pointer;
  }

  a:hover {
    color: $orange;
  }

  input, button, textarea, select, .imageButton {
    font-size: $normalFont;
  }

  input, textarea, select {
    font-family: $inputFont;
  }

  input[type=text], input[type=password], input[type=number], input[type=search], textarea, select {
    border: $border;
    border-radius: $borderRadius;
    padding: $tinySpacing;
    line-height: calc($normalFont + $tinySpacing);
    outline: none;
  }

  input[readonly], input[disabled] {
    background-color: $lighter;
    color: $darker;
  }

  input:disabled + label {
    color: $light;
  }

  button, .imageButton {
    border: none;
    border-radius: $borderRadius;
    padding: $smallerSpacing $largeSpacing;
    background-color: $darker;
    line-height: 20px;
    color: $lighter;
    opacity: .7;
  }

  button:hover:enabled, .imageButton:hover {
    opacity: 1;
  }

  button.primary {
    background-color: $blue;
    color: $lighter;
  }

  button.danger {
    border-color: #CC2300;
    background-color: $red;
    color: $lighter;
  }

  button.disabled, button[disabled] {
    cursor: not-allowed;
    opacity: .4;
  }

  .error {
    color: $red;
  }

  .success {
    color: $green;
  }


  .form {

    margin: auto;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 25rem) {
      width: 18rem;
      .selectContainer {
        flex-wrap: wrap;
      }
    }

    @media screen and (min-width: 25rem) {
      width: 23rem;
    }

    .inputContainer {
      display: grid;
      grid-template-columns: auto $largerSpacing;
      position: relative;

      svg {
        justify-self: end;
        align-self: center;
      }
      svg.inside {
        position: absolute;
        right: $hugeSpacing;
      }
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: $smallSpacing;
      margin-bottom: $smallSpacing;
    }

    input, svg, select {
      margin-top: $smallSpacing;
    }

    a {
      margin-top: $tinySpacing;
      font-size: $smallFont;
    }

    button {
      margin-top: $spacing;
      align-self: center;
    }

    .small-font {
      font-size: $smallFont;
      line-height: 1rem;
      color: $darker;
    }

    .info {
      font-size: $smallFont;
      border: $border;
      border-color: $green;
      border-radius: $borderRadius;
      padding: $smallSpacing;
      display: grid;
      grid-template-columns: auto $largerSpacing;
    }

    .warning {
      font-size: $smallFont;
      border: $border;
      border-color: $orange;
      border-radius: $borderRadius;
      padding: $smallSpacing;
      display: grid;
      grid-template-columns: auto $largerSpacing;
    }

  }

  /* modal */

  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
  }

  .modalContent {
    background-color: $white;
    margin: 15% auto;
    padding: $hugeSpacing;
    border: $border;
    border-radius: $borderRadius;

    .message {
      margin: $largeSpacing 0;
    }
    ul {
      list-style-type:none;
    }
  }

  .danger {
    button.yes {
      background-color: $red;
      h2 {
        color: $red;
      }
    }
  }

  @media screen and (max-width: $smallScreens) {
    .modalContent {
      width: 70vw;
    }
  }

  @media screen and (min-width: $smallScreens) {
    .modalContent {
      width: 50vw;
    }
  }

}
