@import "../style";

.center-header {
  margin: $spacing auto;
  justify-content: center;
}

.wide-header {
  margin: $spacing 0;
}

.header {
  display: flex;

  .title {
    font-size: $hugeFont;
    line-height: $hugeFont;
    cursor: pointer;
    flex-grow: 4;
    text-decoration: none;
    font-weight: bold;
  }

  .profile {
    display: flex;
    column-gap: $largeSpacing;

    .username {
      line-height: $hugeFont;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $smallScreens) {
  .header {
    flex-wrap: nowrap;
    flex-direction: column;
    height: $smallHeaderHeight;
    .profile {
      align-self: flex-start;
      margin: $spacing 0;
    }
  }
}

@media screen and (min-width: $smallScreens) {
  .header {
    flex-wrap: nowrap;
    flex-direction: row;
    height: $hugeFont;
  }
  .profile {
    align-self: flex-end;
  }
}

