@import "../style";

.center-header {
  margin: $spacing auto;
  justify-content: center;
}

.wide-header {
  margin: $spacing 0;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  .title {
    font-size: $hugeFont;
    line-height: $hugeFont;
    cursor: pointer;
    flex-grow: 4;
    text-decoration: none;
    font-weight: bold;
  }

  .profile {
    align-self: flex-start;
    display: flex;
    @media screen and (max-width: $smallScreens) {
      column-gap: $spacing;
      margin-left: $spacing;
    }
    @media screen and (min-width: $smallScreens) {
      column-gap: $largeSpacing;
      margin-left: $largeSpacing;
    }

    .username {
      line-height: $hugeFont;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @media screen and (max-width: $smallScreens) {
        max-width: 8rem;
      }
      @media screen and (min-width: $smallScreens) {
        max-width: 12rem;
      }
    }

    .logout {
      @media screen and (max-width: $smallScreens) {
        .buttonText {
          display: none;
        }
      }
      @media screen and (min-width: $smallScreens) {
        .buttonIcon {
          display: none;
        }
      }
    }
  }
}



