@import "../style";

.mainView {
  min-height: calc(100vh - $headerHeight);

  .dashboard {
    display: grid;
    gap: $spacing;

    @media screen and (max-width: $smallScreens) {
      grid-template-columns: 1fr;
    }

    @media screen and (min-width: $smallScreens) {
      grid-template-columns: 1fr 1fr;
    }
  }


}
