@import "../../../style";

.toolbarContainer {
  display: flex;

  .toolbar {
    display: flex;
    border: $border;
    border-radius: $borderRadius;

    &.wrap {
      flex-wrap: wrap;
    }

    button {
      background-color: $white;
      color: $darker;
      border-radius: 0;
      @media screen and (max-width: 30rem) {
        padding: $tinySpacing $smallSpacing;
      }
    }

    button:hover {
      background-color: $light;
    }
  }
}

.priority {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 $spacing;
  place-self: center stretch;
  color: $blue;
}

.categoryTree {
  .filter {
    margin: $spacing 0;
    display: flex;
    gap: $tinySpacing;

    .priority {
      margin-left: $spacing;
    }

    label {
      color: $darker;
    }
  }

  .cardView {
    .cardViewHeader {
      margin-bottom: $spacing;

      @media screen and (max-width: 25rem) {
        display: grid;
        grid-template-columns: 1fr;
      }

      @media screen and (min-width: 25rem) {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
      }


      h1 {
        flex-grow: 1;
      }

      .searchContainer {
        flex-shrink: 4;
        display: grid;
        grid-template-columns: 1fr auto;
        justify-items: stretch;
        align-items: center;
        transition: all 0.5s ease-in-out;
        justify-self: end;
      }

      .searchContainer:focus-within {
        flex-grow: 4;
      }
    }

    .cardViewSecondHeader {
      display: flex;

      .toolbarContainer {
        margin-left: $spacing;
      }
    }

    .cardListItem {
      &.readonly {
        display: grid;
        grid-template-columns: $largerSpacing auto 4.5rem $hugeSpacing;
        border-bottom: 1px dotted $light;

        .checkbox {
          place-self: center stretch;
        }
        .schedule {
          padding: 0 $spacing;
          place-self: center stretch;
        }
        .givenAndWanted {
          @media screen and (max-width: 30rem) {
            display: grid;
            grid-template-columns: 1fr;
            .preview:last-of-type {
              pre {
                text-align: right;
              }
            }
          }

          @media screen and (min-width: 30rem) {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }


          .preview {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: $smallerSpacing $spacing;
            pre {
              font-family: $font;
              margin: 0;
            }
          }
        }
      }
    }
  }

}

.modal {
  .form {
    .invitedUsername {
      line-height: $largeFont;

      i {
        margin-left: $tinySpacing;
        margin-top: 0;
      }
    }
  }
}