@import "../../../style";

.message {
  display: grid;
  grid-template-columns: auto $largerSpacing;

  div {
    font-size: $smallFont;
    border: $border;
    border-radius: $borderRadius;
    padding: $smallSpacing;
  }
  .info {
    border-color: $green;
  }
  .info {
    border-color: $orange;
  }
}

.inputSelectContainer {
  display: grid;
  grid-template-columns: 1rem auto;
  column-gap: $smallSpacing;

  .inputWrapper {
    display: flex;
  }

  .selectContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: $smallerSpacing;

    select {
      flex-grow: 4;
    }
  }
}
